/* kakao/d_function.css */

#functionBox { width:100%; height:auto; /*min-height:700px;*/
  padding:20px; box-sizing:border-box; background-color:#ddd; }
#functionBox:after {content:" "; display:block; clear:both; }

.ai_area { float:left; 
  width:47.916667vw; /* 690/1440*100=47.916667vw*/ 
  height:29.861111vw; /* 430/1440*100=29.861111vw */
  min-width:690px; min-height:430px; background-color:#aae; }
.hey_area { float:right; width:47.916667vw; height:29.861111vw;
  min-width:690px; min-height:430px; background-color:#ddf; }

#smalltalkBox { width:100%; height:100%; min-height:700px; margin-bottom:25px; padding:20px; box-sizing:border-box;
background-color:#38332e;}
.inner_wrap { width:100%; height:100%; background-color:#fa0; }

#heykakaoBox { width:100%; height:180px;  
  margin-bottom:45px;
  background-color:#ddd; }