@charset "UTF-8";
/* yankeecandle.css */

/* common.css */
.hidden_context { display:block; position: absolute; z-index:-1;
  width:0; height:0; overflow: hidden; }
.clearfix:after,
.clearfix::after { content:" "; display:block; clear:both; }

/* design.css */
#wrap { width:1600px; height:3100px; 
  margin:auto; margin-bottom: 50px;
  background-color:#fff; }
/* wrap ============================================================ */

/* headBox ========================================================= */
#headBox { 
  position:fixed; z-index:1000;
  width:inherit; height:150px; background-color:#fff; }
  .heading { 
    float:left;
    width:1260px; height:80px; 
    margin:auto; margin-left:170px; }

    .sidemenuBox { float:left; width:400px; height:inherit; }
    
    .sidemenuBox > ul { width:100%; height:auto; }
    .sidemenuBox li {
      float:left;
      width:150px; height:40px; margin:40px 10px 0; }

  .logoBox { float:left; width:460px; height:inherit; }    
    
    h1 { height:inherit; margin:0 150px; text-align:center; }

    .usermenu { float:right; width:400px; height:inherit; }

    .usermenu > ul { width:100%; height:auto; margin-top:40px;}
    .usermenu li { 
      float:left;
      width:120px; height:40px;}

    .usermenu li:nth-child(1) { text-align:right; margin-left:120px; border-bottom:2px solid #444;}
    .usermenu li:nth-child(2) { text-align:center; margin-left:40px}
    
#gnbBox { 
  float:left;
  width:1260px; height:70px;
  margin:auto; margin-left:170px; }

  .navigation { margin:auto; width:620px; height:70px;}

  .navigation > ul { width:100%; height:auto; }
  .navigation li { float:left; width:140px; height:auto;
    margin:25px 10px; 
    text-align:center; }
  
  .navigation li:hover { font-weight:bold; border-bottom:3px solid #900; }
  .navigation li:nth-child(1) { margin-left:0; }
  .navigation li:nth-child(4) { margin-right:0; }

/* viewBox =========================================================== */
#viewBox { 
  position:relative;
  width:100%; height:900px; background-color:#999; }
  
  .view_btn { 
    position:absolute; z-index:100;
    top:50%; left:0; right:0; margin:auto;
    width:1400px; height:0; }
  .view_btn button { width:60px; height:60px;
    font-size:2.5rem; color:#fff; 
    text-shadow:0 0 5px rgba(0,0,0,0.7); }
    .next_view { float:right; }
    .prev_view { float:left; }
  
  .view_indicator { 
    position:absolute; bottom:20px; z-index:50;
    left:0; right:0; margin:auto;
    width:260px; height:60px; }
    .view_indicator ol { width:100%; height:auto; }
    .view_indicator li { 
      float:left; margin:20px 10px;
      width:60px; height:20px;
      border-radius:30px;
      background-color:#fff; }
    .view_indicator li:nth-child(1) {margin-left:20px; }
    .view_indicator li:hover { background-color:#900; }

  .view_outer { position:relative;
    width:100%; height:100%; margin:auto; background-color:#aea;
   }
   .view_area { width:100%; height:100%; }
   .view_area > div { 
     position:absolute; top:0; left:0;
     width:inherit; height:inherit; color:#fff; }
     .view_01 { z-index: 3; background-image:url("../../img/view_01.jpg"); background-repeat:no-repeat; background-size:100% auto; }
     .view_02 { z-index: 2; background-color:#E486B4; }
     .view_03 { z-index: 1; background-color:#262661; }

/* bestBox ========================================================== */
#bestBox { 
  position:relative;
  padding-top:30px; box-sizing:border-box;
  width:100%; height:700px; }
  .title_outer { width:1260px; height:60px; 
    margin:auto; }
  #bestBox h2 {
    padding-top:15px; box-sizing:border-box;
    width:inherit; height:inherit; text-align:center; }

  .best_btn {
    position:absolute; z-index:50;
    top:50%; left:0; right:0; margin:auto; margin-top:-70px;
    width:1260px; height:0; }
  .best_btn button { width:60px; height:80px; 
    font-size:2.5rem; color:#fff; }

  .best_img_outer { width:1260px; height:380px;
    margin:auto; margin-top:30px; }
    .best_img_outer span { display:block; width:0; height:0; overflow: hidden; }
  
    .articel_01 { float:left; width:300px; height:380px; 
      margin:0 10px; margin-left:0; 
      background-image:url("../../img/best_01.jpg"); background-repeat:no-repeat; background-size:100% auto;
      transition:all 200ms ease;}
    .articel_02 { float:left; width:300px; height:380px; 
      margin:0 10px; background-image:url("../../img/best_02.jpg");
      background-repeat:no-repeat; background-size:100% auto;
      transition:all 200ms ease; }
    .articel_03 { float:left; width:300px; height:380px; 
      margin:0 10px; background-image:url("../../img/best_03.jpg");
      background-repeat:no-repeat; background-size:100% auto;
      transition:all 200ms ease; }
    .articel_04 { float:left; width:300px; height:380px; 
      margin:0 10px; margin-right:0; 
      background-image:url("../../img/best_04.jpg");
      background-repeat:no-repeat; background-size:100% auto;
      transition:all 200ms ease; }
    
    .articel_01:hover, .articel_02:hover, .articel_03:hover,
    .articel_04:hover { background-size:120% auto; }

  .text_outer { width:1260px; height:200px; margin:auto; }
  article { float:left; width:300px; height:200px;
    padding:30px; box-sizing:border-box;
    margin:0 10px; background-color:#fff; text-align:center; }
    .article_text_01 { margin-left:0; }
    .article_text_04 { margin-right:0; }

/* specialBox ===================================================== */
#specialBox { width:100%; height:620px; }
  
  .special_content_outer { 
    float:left; margin:35px 30px; margin-left:170px;
    width:400px; height:550px; }
    .special_title { float:left;
      width:100%; height:50px; margin-top:15px; }
      .special_title h2 { font-size:2rem; }
    
    .special_text { float:left; width:100%; height:200px;
      margin-top:50px; }
      .special_text h3 { margin-bottom:15px; }
      .special_text h4 { color:#777; }

    .showmore_btn { float:left; width:220px; height:40px;
      border:1px solid #555; }
      .show_more h5 { width:220px; height:20px; margin:10px 0;
        font-size:0.8rem; }
    .showmore_btn:hover { background-color:#d8d8d8; }
  
  .special_img_outer { 
    position:relative;
    float:left; width:800px; height:550px; 
    margin:35px 30px; background-color:#fee; }
    .special_area { width:100%; height:100%; }
      .special_area > div { position:absolute; top:0; left:0;
        width:inherit; height:inherit; color:#fff;  }
      .special_area span { display:block; width:0; height:0; overflow: hidden; }
        .special_01 { z-index:3; background-image:url("../../img/special.jpg"); background-repeat:no-repeat; background-size:auto 100%; }
        .special_02 { z-index:2; background-color:#bbba90; }
        .special_03 { z-index:1; background-color:#dd6300; }
    .special_btn { 
      position:absolute; z-index:50; 
      top:50%; margin-top:225px; right:30px;
      width:120px; height:30px; }
    .special_btn button { width:20px; height:20px;
      font-size:1.5rem; color:#fff; }
      .next_view { float:right; }
      .prev_view { float:left; }

    

#videoBox { width:100%; height:580px; background-color:#777; }
.video_outer { width:100%; height:100%; background-color:#252e2a; }
.video_outer { background-image:url("../../img/video/video_bg.jpg");
  background-repeat:no-repeat; background-position:-50px -600px;}
.video_area { 
  position: relative;
  float:left; width:700px; height:480px; margin:50px 170px; margin-right:0;
  background-image:url("../../img/video/video.jpg");background-repeat:no-repeat;
  background-size:contain; }
  

.video_btn { position:absolute; z-index:50;
top:50%; left:50%; margin-top:-50px; margin-left:-70px;
width:125px; height:125px;}
.video_btn button { width:125px; height:125px; font-size:4rem; transition:all 100ms ease;}
.video_btn button:hover { font-size:5rem; }

.video_content { float:left; width:560px; height:480px; 
  margin:50px 80px; }

.video_title { 
  float:left; margin-top:100px;
  width:180px; height:25px; }
  .video_title h4 { color:rgba(255,255,255,0.7); font-size:1.25rem;}

.video_text { 
  float:left; margin-top:50px;
  width:560px; height:160px; }
  .video_text h3 { color:rgba(255,255,255,0.7); font-size:3rem; }

/* snsBox ===================================================== */
#snsBox { width:100%; height:100px; background-color:#1b1b1b; }
  .sns_outer { margin:auto; width:300px; height:100px; }
  .sns_outer ul { width:100%; height:auto; margin:0; padding:0; }
  .sns_outer li { float:left; width:60px; height:50px; 
    margin:25px 0 25px 20px; }
  
  .sns_outer a { display:block; width:100%; height:100%;}
  .sns_outer span { display:block; width:0; height:0; overflow:hidden; }
  .sns_outer li:nth-child(1) {
    margin-left:0; background-image:url("../../img/sns/sns_youtube.png");  background-position:50% 50%; background-repeat:no-repeat; background-size:contain;}
  .sns_outer li:nth-child(2) { 
    background-image:url("../../img/sns/sns_twitter.png"); background-repeat:no-repeat; background-position:50% 50%; background-size:contain;}
  .sns_outer li:nth-child(3) { 
    background-image:url("../../img/sns/sns_facebook.png"); background-repeat:no-repeat;background-position:50% 50%; background-size:contain;}
  .sns_outer li:nth-child(4) { 
    background-image:url("../../img/sns/sns_blog.png"); background-repeat:no-repeat; background-position:50% 50%; background-size:contain;}

/* footBox ===================================================== */    
#footBox { width:100%; height:200px; 
  padding:10px; box-sizing:border-box;
  background-color:#313131; }
.logo_outer { width:140px; height:50px; 
  margin:auto; margin-bottom:10px;
  background-image:url("../../img/logo.png");
  background-repeat:no-repeat;
  background-size:contain; }

.corp_area { width:340px; height:30px; margin:auto; }
.corp_area ul { width:100%; height:auto; }
.corp_area li { float:left; width:103px; height:30px; margin-right:10px; }
.corp_area li a { width:auto; height:auto; 
  font-size:0.7rem; font-weight: bold;
  color:#fff; text-align:center; }

.addr { width:540px; height:80px; margin:auto; }
.addr dl { width:100%; height:auto; font-size:0.75rem; }
.addr dt { display:block; float:left; padding-right: 10px;
  padding-bottom: 5px; font-style:normal; color:#fff; }
  .addr dt:nth-child(5) { padding-right:40px; }
  .addr dt:nth-child(7) { padding-left:150px; }