/* headBox ========================================================= */
#headBox { 
  position:fixed; z-index:1000;
  width:inherit; height:150px; background-color:#fff; }
  .heading { 
    float:left;
    width:1260px; height:80px; 
    margin:auto; margin-left:170px; }

    .sidemenuBox { float:left; width:400px; height:inherit; }
    
    .sidemenuBox > ul { width:100%; height:auto; }
    .sidemenuBox li {
      float:left;
      width:150px; height:40px; margin:40px 10px 0; }

  .logoBox { float:left; width:460px; height:inherit; }    
    
    h1 { height:inherit; margin:0 150px; text-align:center; }

    .usermenu { float:right; width:400px; height:inherit; }

    .usermenu > ul { width:100%; height:auto; margin-top:40px;}
    .usermenu li { 
      float:left;
      width:120px; height:40px;}

    .usermenu li:nth-child(1) { text-align:right; margin-left:120px; border-bottom:2px solid #444;}
    .usermenu li:nth-child(2) { text-align:center; margin-left:40px}
    
#gnbBox { 
  float:left;
  width:1260px; height:70px;
  margin:auto; margin-left:170px; }

  .navigation { margin:auto; width:620px; height:70px;}

  .navigation > ul { width:100%; height:auto; }
  .navigation li { float:left; width:140px; height:auto;
    margin:25px 10px; 
    text-align:center; }
  
  .navigation li:hover { font-weight:bold; border-bottom:3px solid #900; }
  .navigation li:nth-child(1) { margin-left:0; }
  .navigation li:nth-child(4) { margin-right:0; }
