@charset "UTF-8";
/* yankeecandle.css */

/* common.css */
.hidden_context { display:block; position: absolute; z-index:-1;
  width:0; height:0; overflow: hidden; }
.clearfix:after,
.clearfix::after { content:" "; display:block; clear:both; }

/* design.css */
#wrap { width:1600px; height:3100px; 
  margin:auto;
  background-color:#fff; }
/* wrap ============================================================ */

/* headBox ========================================================= */
#headBox { 
  position:fixed; z-index:1000;
  width:inherit; height:150px; background-color:#fff; }
  .heading { 
    float:left;
    width:1260px; height:80px; 
    margin:auto; margin-left:170px; }

    .sidemenuBox { float:left; width:400px; height:inherit; }
    
    .sidemenuBox > ul { width:100%; height:auto; }
    .sidemenuBox li {
      float:left;
      width:150px; height:40px; margin:40px 10px 0; }

  .logoBox { float:left; width:460px; height:inherit; }    
    
    h1 { height:inherit; margin:0 150px; text-align:center; }

    .usermenu { float:right; width:400px; height:inherit; }

    .usermenu > ul { width:100%; height:auto; margin-top:40px;}
    .usermenu li { 
      float:left;
      width:120px; height:40px;}

    .usermenu li:nth-child(1) { text-align:right; margin-left:120px; border-bottom:2px solid #444;}
    .usermenu li:nth-child(2) { text-align:center; margin-left:40px}
    
#gnbBox { 
  float:left;
  width:1260px; height:70px;
  margin:auto; margin-left:170px; }

  .navigation { margin:auto; width:620px; height:70px;}

  .navigation > ul { width:100%; height:auto; }
  .navigation li { float:left; width:140px; height:auto;
    margin:25px 10px; 
    text-align:center; }
  .navigation li:nth-child(1) { margin-left:0; }
  .navigation li:nth-child(4) { margin-right:0; }

/* viewBox =========================================================== */
#viewBox { 
  position:relative;
  width:100%; height:900px; background-color:#999; }
  
  .view_btn { 
    position:absolute; z-index:100;
    top:50%; left:0; right:0; margin:auto;
    width:1400px; height:0; }
  .view_btn button { width:60px; height:60px;
    font-size:2.5rem; color:#fff; 
    text-shadow:0 0 5px rgba(0,0,0,0.7); }
    .next_view { float:right; }
    .prev_view { float:left; }
  
  .view_indicator { 
    position:absolute; bottom:20px; z-index:50;
    left:0; right:0; margin:auto;
    width:260px; height:60px; }
    .view_indicator ol { width:100%; height:auto; }
    .view_indicator li { 
      float:left; margin:20px 10px;
      width:60px; height:20px;
      border-radius:30px;
      background-color:#fff; }
    .view_indicator li:nth-child(1) {margin-left:20px; }

  .view_outer { position:relative;
    width:100%; height:100%; margin:auto; background-color:#aea;
   }
   .view_area { width:100%; height:100%; }
   .view_area > div { 
     position:absolute; top:0; left:0;
     width:inherit; height:inherit; color:#fff; }
     .view_01 { z-index: 3; background-color:#a10909; }
     .view_02 { z-index: 2; background-color:#E486B4; }
     .view_03 { z-index: 1; background-color:#262661; }

/* bestBox ========================================================== */
#bestBox { 
  position:relative;
  padding-top:30px; box-sizing:border-box;
  width:100%; height:700px; }
  .title_outer { width:1260px; height:60px; 
    margin:auto; }
  #bestBox h2 {
    padding-top:15px; box-sizing:border-box;
    width:inherit; height:inherit; text-align:center; }

  .best_btn {
    position:absolute; z-index:50;
    top:50%; left:0; right:0; margin:auto; margin-top:-70px;
    width:1260px; height:0; }
  .best_btn button { width:60px; height:80px; 
    font-size:2.5rem; color:#fff; }

  .best_img_outer { width:1260px; height:380px;
    margin:auto; margin-top:30px; }
    .articel_01 { float:left; width:300px; height:380px; 
      margin:0 10px; margin-left:0; background-color:#c44 }
    .articel_02 { float:left; width:300px; height:380px; 
      margin:0 10px; background-color:#727272 }
    .articel_03 { float:left; width:300px; height:380px; 
      margin:0 10px; background-color:#cc4444 }
    .articel_04 { float:left; width:300px; height:380px; 
      margin:0 10px; margin-right:0; background-color:#727272 }

  .text_outer { width:1260px; height:200px; margin:auto; }
  article { float:left; width:300px; height:200px;
    padding:30px; box-sizing:border-box;
    margin:0 10px; background-color:#fff; text-align:center; }
    .article_text_01 { margin-left:0; }
    .article_text_04 { margin-right:0; }

/* specialBox ===================================================== */
#specialBox { width:100%; height:620px; }
  
  .special_content_outer { 
    float:left; margin:35px 30px; margin-left:170px;
    width:400px; height:550px; }
    .special_title { float:left;
      width:100%; height:50px; margin-top:15px; }
      .special_title h2 { font-size:2rem; }
    
    .special_text { float:left; width:100%; height:200px;
      margin-top:50px; }
      .special_text h3 { margin-bottom:15px; }
      .special_text h4 { color:#777; }

    .showmore_btn { float:left; width:220px; height:40px;
      border:1px solid #555; }
      .show_more h5 { width:220px; height:20px; margin:10px 0;
        font-size:0.8rem; }
  
  .special_img_outer { 
    position:relative;
    float:left; width:800px; height:550px; 
    margin:35px 30px; background-color:#fee; }
    .special_area { width:100%; height:100%; }
      .special_area > div { position:absolute; top:0; left:0;
        width:inherit; height:inherit; color:#fff;  }
        .special_01 { z-index:3; background-color:#35270b; }
        .special_02 { z-index:2; background-color:#bbba90; }
        .special_03 { z-index:1; background-color:#dd6300; }
    .special_btn { 
      position:absolute; z-index:50; 
      top:50%; margin-top:225px; right:30px;
      width:120px; height:30px; }
    .special_btn button { width:20px; height:20px;
      font-size:1.5rem; color:#fff; }
      .next_view { float:right; }
      .prev_view { float:left; }

    

#videoBox { width:100%; height:580px; background-color:#777; }
.video_outer { width:100%; height:100%; background-color:#252e2a; }
.video_area { 
  position: relative;
  float:left; width:700px; height:480px; margin:50px 170px; margin-right:0;
  background-color:#a58f84; }

.video_btn { position:absolute; z-index:50;
top:50%; left:50%; margin-top:-50px; margin-left:-70px;
width:125px; height:125px;}
.video_btn button { width:125px; height:125px; font-size:4rem;}

.video_content { float:left; width:560px; height:480px; 
  margin:50px 80px; }

.video_title { 
  float:left; margin-top:100px;
  width:180px; height:25px; }
  .video_title h4 { color:rgba(255,255,255,0.7); font-size:1.25rem;}

.video_text { 
  float:left; margin-top:50px;
  width:560px; height:160px; }
  .video_text h3 { color:rgba(255,255,255,0.7); font-size:3rem; }

#snsBox { width:100%; height:100px; background-color:#555; }

#footBox { width:100%; height:200px; background-color:#333; }